body {
    margin: 0;
    background-color: rgb(236, 230, 230);
    background-image: url(images/code.png);
    background-position: inherit;
    background-size: cover;
}

header {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

/* h1 {
    color: rgb(53, 49, 49);
} */

h1 a:hover {
    background-color: black;
    color: #fff;
    border-radius: 12px;
    padding: 5px;
}

header h1 a {
    text-decoration: none;
    color: rgb(53, 49, 49);
}

header h1 {
    font-size: 65px;
    margin: 20px;
}

.nav-bar {
    list-style: none;
    float: right;
    display: flex;
    /* display: flex;
    justify-content: flex-end;
    align-items: center; */
    padding: 0 15px;
    margin: 0 15px;
}

.nav-bar a {
    text-decoration: none;
    color: rgb(35, 39, 39);
}

.links {
    padding: 0 8px;
}

.nav-bar a:hover {
    background-color: black;
    color: #fff;
    border-radius: 8px;
}

h2 {
    text-align: center;
    font-size: 40px;
    color: rgb(34, 19, 19);
}

.opening-frame p {
    font-size: 30px;
    text-align: center;
    font-family: sans-serif;
}

.row ol li {
    list-style: upper-roman;
}

.first-p {
    margin-bottom: 0;
    padding-bottom: 5px;
}
.second-p {
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.row {
    font-size: 30px;
}

.left-side {
    margin: 50px 80px 30px 0;
}

.right-side {
    margin: 50px 0 30px 80px;
}

.pictures img {
    height: 250px;
    width: 250px;
}

.pictures {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.pic {
    margin: 80px 80px 80px 100px;
}

.pic2 {
    margin: 80px 100px 80px 80px;
}

.footer address {
    text-align: center;
    padding: 25px;
    margin-bottom: 40px;
    font-weight: bolder;
    font-size: 22px;
}

form {
    display: block;
    text-align: center;
}

.register {
    text-align: center;
}

input,
select,
textarea {
    border-radius: 5px;
}

.login {
    text-align: center;
}

.login:focus {
    background-color: rgb(155, 152, 149);
    color: #fff;
}

.select {
    width: 9rem;
    border-radius: 6px;
}

.select:hover {
    background-color: black;
    color: #fff;
}

label {
    font-size: 20px;
}

@media screen and (max-width: 768px) {
    .nav-bar {
        color: black;
        display: block;
        margin: 0;
        padding: 0;
    }

    .container {
        display: block;
        text-align: center;
    }

    .row ol {
        text-align: justify;
        padding: 10px;
        margin: 10px 10px 10px 50px;
    }

    .links {
        margin: 15px 0;
    }

    ul li {
        margin-top: 10px;
    }
}


@media screen and (max-width: 480px) {
    header h1 {
        font-size: 30px;
        width: 100%;
        margin-right: 0;
        padding-right: 0;
    }

    h2 {
        font-size: 22px;
    }

    .opening-frame p {
        font-size: 19px;
    }

    .row {
        font-size: 20px;
    }

    .nav-bar {
        display: block;
        width: 100%;
        margin: 0;
        padding: 15px;
    }

    .links {
        display: block;
        /* grid-template-columns: 70px; */
        margin: 5px 0;
        padding: 5px;
    }

    .container {
        display: block;
        text-align: center;
        
    }

    .pictures {
        display: block;
    }

    .row ol {
        text-align: justify;
        padding: 10px;
        margin: 10px 10px 10px 50px;
    }
}